/* src/routes/dashboard/dashboard.css */

.dashboard-page {
  min-height: 100vh;
  background-color: #202020;
  color: #f5f5f5;
}

.dashboard-layout {
  display: flex;
}

.dashboard-content {
  flex: 1;
  padding: 16px;
}

.dashboard-page-content {
  padding: 16px 0;
}
